# dependencies
/node_modules

# IDEs and editors
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
npm-debug.log

# e2e
/e2e/*.js
/e2e/*.map

